{erl_opts, [
	no_debug_info,
	{src_dirs, ["src", "test"]}
]}.
{deps, [
	utils,
	{etest, "1.2.1"}
]}.

{escript_incl_apps,
 [day08, utils]}.
{escript_main_app, day08}.
{escript_name, day08}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
